@using Microsoft.AspNetCore.Http; @{ int? id = Context.Session.GetInt32("id"); }
<!DOCTYPE html>

<head id="ctl00_Head1">
    <meta name="keywords" content="site," />
    <meta name="description" content="Site Açıklaması" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/site_document/icon_img/pwpMLyJV_400x400.jpg" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Coiny:400,700|Caveat+Brush:400,700&subset=latin,cyrillic,arabic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://hemencdn.com/interface/platinum/css/main.css" />

    <script src="https://hemencdn.com/interface/platinum/js/modernizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>

    <link rel="stylesheet" href="~/style.css?Tema=">

    <style>
        #formara {
            position: relative;
        }
    </style>

    <title>
        SemPati
    </title>
</head>

<body>
    <div>
        <div class="body">
            <header id="header" class="headertheme_11 header-narrow" data-plugin-options='{"stickyEnabled": false, "stickyEnableOnBoxed": false, "stickyEnableOnMobile": true, "stickyStartAt": 0, "stickySetTop": "-0", "stickyChangeLogo": true}'>
                <div class="header-body">
                    <div class="header-top htop_11" style="background-color: #85D5DF; color: #FFFFFF">
                        <div class="container">

                            @if(id.HasValue){
                            <form id="formara" asp-controller="hayvancinsleri" asp-action="Index" method="get">
                                <div class="col-md-11">
                                    <input class="form-control mr-sm-2" name="SearchString" type="search" placeholder="Ara" aria-label="Search">
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Ara</button>
                                </div>
                            </form>
                            } else{
                            <div class="header-row membership">
                                <div id="ctl00_Header_ctl02_UyeGiris" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ctl00_Header_ctl02_Giris&#39;)">

                                    <form method="POST" action="/kayitol/girisyap">
                                        <div class="Ust_Uyelik" id="Uyelik_logo_yani">
                                            <div class="col-md-12">
                                                <div class="col-md-1">
                                                </div>
                                                <div class="col-md-3 mobile-hide">
                                                    <input name="email" type="text" id="ctl00_Header_ctl02_uyeKullaniciAdi" class="form-control" placeholder="Kullanıcı Adı" />
                                                </div>
                                                <div class="col-md-3 mobile-hide">
                                                    <input name="sifre" type="password" id="ctl00_Header_ctl02_uyeSifre" class="form-control" autocomplete="off" placeholder="Şifre" />
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="submit" value="Giriş" id="ctl00_Header_ctl02_Giris" class="btn btn-primary mobile-hide" />
                                                    <a href="/members/login" class="btn btn-primary mobile-show">Giriş
                                                        Yap</a>
                                                    <a href="/kayitol" class="btn btn-primary">Kayıt Ol</a>
                                                    <a href="/members/forgot-password" class="btn btn-primary">Şifremi
                                                        Unuttum</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    <div id="header" class="headtheme_11 header-container container">
                        <div class="header-row">
                            <div class="header-column">
                                <div class="header-logo">
                                    <table border="0" cellpadding="0" cellspacing="0" class="tema_sol">
                                        <tbody>
                                            <tr>
                                                <td><img alt="Logo" src="~/site_document/files/resim/logo.png" style="height: 80px; margin-right: 10px; width: 80px;" /></td>
                                                <td>
                                                    <span style="font-size:24px;"><span
                                                            style="color:#1C2125;">SemPati</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="header-column">
                                <div class="header-row">
                                    <div class="header-nav">
                                        @* <button class="btn header-btn-collapse-nav" type="button" data-toggle="collapse" data-target=".header-nav-main">
                                            <i class="fa fa-bars"></i>
                                        </button> *@
                                        <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                            <nav>
                                                <ul class="nav nav-pills" id="mainNav">

                                                    <li>
                                                        <a href="/" id="mn_1" class="menu_tur_11">Anasayfa</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hakkimizda" id="mn_290" class="menu_tur_11">Hakkımızda</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#tablolar" id="mn_289" class="menu_tur_11">Tablolar</a> @if(id.HasValue){
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href="/hayvanlar" id="hayvanlar">Hayvanlar</a>
                                                            </li>
                                                            <li>
                                                                <a href="/hayvancinsleri" id="hayvancinsleri">Hayvan
                                                                    Cinsleri</a>
                                                            </li>
                                                            <li>
                                                                <a href="/hayvanhastaliklari" id="hayvanhastaliklari">Hayvan Hastalıkları</a>
                                                            </li>
                                                            <li>
                                                                <a href="/hayvanyiyecektipleri" id="hayvanyiyecektipleri">Hayvan Yiyecek Tipleri</a>
                                                            </li>
                                                            <li>
                                                                <a href="/stok" id="stok">Stok</a>
                                                            </li>

                                                        </ul>
                                                        }
                                                    </li>

                                                    <li>
                                                        <a href="#galeri" id="mn_289" class="menu_tur_11">Galeri</a>
                                                    </li>

                                                    <li>
                                                        <a href="/iletisim" id="mn_3" class="menu_tur_11">Iletişim</a>
                                                    </li>

                                                    @if(id.HasValue){
                                                    <li>
                                                        <a href="/stok" id="mn_289" class="menu_tur_11">Stok</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="/#" id="mn_291" class="dropdown-toggle menu_tur_11"><span
                                                                data-hover="Hesap">Hesap</span></a>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a id="mn_293">@Context.Session.GetString("kullanici_adi")</a>
                                                            </li>
                                                            <li>
                                                                <a href="/kayitol/cikisyap" id="mn_293">Çıkış Yap</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    }
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </header>

            <div role="main" class="main">
                @RenderBody()
            </div>

            <footer id="footer" style="background: url(/site_document/files/resim/bgaltpet.jpg) repeat-x top center;">
                <div class="container">
                    <div class="row">
                        <div id="ctl00_AltAlan_pnaltAlt">

                            <!-- ##Blok -->
                            <div class="col-md-4">
                                <div class="Blok" data-appear-animation="fadeInLeft" id="statik_254">
                                    <h4 class="heading-primary">Hakkımızda</h4>
                                    <div class="Area">
                                        <p>Tecrübeli teknik kadromuz ile güvenilir ve verilmi ekip olma anlayışıyla; müşteri memnuniyeti ve kalite ile birlikte zamanındalık ilkerinden ödün vermeden ülke ve dünya standartlarına uygun olarak hizmet sunmaktayız.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="Blok" data-appear-animation="fadeInRight" id="statik_288">
                                    <!-- Blok Başlık -->
                                    <h4 class="heading-primary">İletişim</h4>
                                    <div class="Area">
                                        <p>Adres: İnönü Üniversitesi - Malatya</p>

                                        <p>Telefon: 0212 444 0 444</p>

                                        <p>E-Mail: ezgihareket@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright" style="display: block !important; visibility: visible !important;">
                    <div class="container" style="display: block !important; visibility: visible !important;">
                        <div class="row" style="display: block !important; visibility: visible !important;">
                            <div class="col-md-6" style="display: block !important; visibility: visible !important;">
                                2020-Web Sitesi
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://hemencdn.com/interface/platinum/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>