<div role="main" class="main">

    <!-- Üst Başlangıç -->
    <!-- <div id="ctl00_cph1_UzunAlan_panel_alan_4">

    </div> -->
    <!-- Üst Son -->
    <section style="background-color:#24A3EC" class="page-header page-header-center  page-header-primary page-header-color page-header-more-padding page-header-no-title-border">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size:40px;color:#FFFFFF">
                        İLETİŞİM
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container" id="iletisim">
        <div class="row">
            <div class="col-md-12">
                <div id="ctl00_cph1_PanelOrta">

                    <!-- OrtaAlan2 Başlangıç -->
                    <div id="ctl00_cph1_ctl00_panel_orta">

                        <div class="row">
                            <div class="col-md-6 appear-animation fadeIn appear-animation-visible" data-appear-animation="fadeIn">

                                <h2 class="mb-sm mt-sm">İLETİŞİM FORMU</h2>
                                 <hr/> 
                                <form method="post" action="/iletisim/kaydet" class="FormAlani">
                                    <div class="col-md-12  margin-bottom">
                                        <div class="col-md-12 margin-bottom">
                                            Adı Soyadı (*):
                                            <div class="clearfix5"></div>
                                            <b>
                                                <input required name="isim" type="text" maxlength="70"
                                                    class="form-control">
                                            </b>
                                        </div>
                                        <div class="col-md-12 margin-bottom">
                                            Telefon:
                                            <div class="clearfix5"></div>
                                            <b>
                                                <input required name="telefon" type="text" maxlength="70"
                                                    class="form-control">
                                            </b>
                                        </div>

                                        <div class="col-md-12 margin-bottom">
                                            E-Mail (*):
                                            <div class="clearfix5"></div>
                                            <input required name="email" type="text" maxlength="70" class="form-control">
                                        </div>

                                        <div class="col-md-12 margin-bottom">
                                            Mesaj (*):
                                            <textarea required name="mesaj" type="textarea" maxlength="70" class="form-control"></textarea>
                                        </div>

                                        <div class="col-md-12 margin-bottom">
                                            <input type="submit" value="Gönder" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-6">

                                <div class="IletisimBilgi">
                                    <h2 class="mb-sm mt-sm">İLETİŞİM BİLGİLERİ</h2>
                                    <hr/>  
                                    <p>Adres: İnönü Üniversitesi - Malatya</p>

                                    <p>Telefon: 0212 444 0 444</p>

                                    <p>E-Mail: ezgihareket@gmail.com</p>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- OrtaAlan2 Son -->
                </div>
            </div>

        </div>
    </div>
    <!-- <div id="ctl00_cph1_orta">
        <!-- OrtaAlan1 Son -->
</div>

</div>