<div role="main" class="main">


    <!-- Üst Başlangıç -->
    <div id="ctl00_cph1_UzunAlan_panel_alan_4">


    </div>
    <!-- Üst Son -->
    <section style="background-color:#24A3EC"
        class="page-header page-header-center  page-header-primary page-header-color page-header-more-padding page-header-no-title-border">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size:40px;color:#FFFFFF">
                        HAKKIMIZDA
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container sayfaIcerik" id="statik_2">

        <div class="row">
            <div class="col-md-12">
                <div id="ctl00_cph1_PanelOrta">


                    <!-- OrtaAlan2 Başlangıç -->
                    <div id="ctl00_cph1_ctl00_panel_orta">


                        <!-- ##Blok -->

                        <div data-appear-animation="fadeIn" class="appear-animation fadeIn appear-animation-visible">

                            <div class="col-md-4" id="detayImg">
                                <a class="img-thumbnail lightbox"
                                    href="/site_document/sayfa_img/JIN6P0T7V_resim_12_12_2017_14_b.jpg"
                                    title="HAKKIMIZDA" data-plugin-options="{&quot;type&quot;:&quot;image&quot;}">
                                    <img class="img-responsive" alt="HAKKIMIZDA"
                                        src="/site_document/sayfa_img/JIN6P0T7V_resim_12_12_2017_14_b.jpg"><span
                                        class="zoom">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </a>
                            </div>
                            <p>Barınağımızda bulunan hayvanlarımızı, bakımlarını, kullanılan ilaçları, yiyeceklerini,
                                nerden getirildiklerini gösteren bir sitedir.
                                Bu site ile sokakta kalan dostlarımız veya sahipleri tarafından bırakılan dostlarımızın
                                sağlıklı, güzel bir yerde olduğunu görebilir
                                ve takip edebiliriz.</p>

                        </div>
                        <div id="ctl00_cph1_ctl00_ctl00_panel_alan_4">


                        </div>
                    </div>
                    <!-- OrtaAlan2 Son -->
                </div>
            </div>

        </div>
    </div>

    <div id="ctl00_cph1_orta">

        <!-- OrtaAlan1 Başlangıç -->
        <div id="ctl00_cph1_ctl01_panel_orta">


        </div>
        <!-- OrtaAlan1 Son -->
    </div>

</div>