body {font-family:"Caveat Brush";color: black;font-size: 20px;}.main{background-color:#FFFFFF !important;}html
.heading-primary, html .lnk-primary, html .text-color-primary {color: #000000 !important;font-size:16pt
!important;}#header .header-nav-main nav > ul > li > a,.dropdown-menu li a {font-size: 17px
!important;font-family:"Coiny";}.page-header .breadcrumb > li > a {color: #FFF829;}a {color: #000000;}a:hover {color:
#000000;}#header .header-btn-collapse-nav {background: #212121;}#header .header-nav-main nav > ul > li > a ,#header
.header-nav .header-nav-stripe nav > ul > li > a {color:#555555;}#header .header-nav-main nav > ul > li:hover >
a,ul.nav-pills > li.active > a,#header .header-nav-main nav > ul >li.active > a,.dropdown-menu > .active >
a:hover,#header .header-nav-main nav > ul > li.active .dropdown-menu li.active .dropdown-menu li.active a,#header
.header-nav .header-nav-stripe nav > ul > li:hover > a,.dropdown-menu > .active > a,#header .header-nav-mainnav >
ul.active > li.active > ul.active > li.active > ul.active > li.active a,.menutur_kare .header-nav-main nav > ul >
li.dropdown .dropdown-menu li a, .menuarkaplan{background:#85d5df;color:#FFFFFF ;}
#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {border-top: 5px solid #85d5df;}
.btn-borders.btn-primary{border-color: #212121; color: #212121;}
html .boxed .body, #header .header-nav-main nav > ul > li .dropdown .dropdown-menu {border-top-color:
#85d5df;}html.side-header #header .header-nav-main nav > ul li .dropdown:hover > .dropdown-menu {border-left-color:
#85d5df;}html.side-header #header .header-nav-main nav > ul li .dropdown:hover > .dropdown-menu {border-right-color:
#85d5df;}#header .header-nav-main nav > ul > li .dropdown .dropdown-menu li .dropdown-submenu > a::after {border-color:
transparent transparent transparent #85d5df;}html .boxed #header .header-body,html #header .header-body,html.side-header
#header {background:#FFFFFF;}html.boxed body {background-color: #636363;}#footer {background: #D9F2F7;border-top: 4px
solid #D9F2F7;font-size: 0.9em;padding: 70px 0 0;position: relative;clear: both;color:#FFFFFF !important;}#footer
.heading-primary, #footer p{color:#FFFFFF !important;}#footer .footer-copyright {background:#371F0E;border-top: 4px
solid #371F0E;color:#FFFFFF;}.slider .tp-bannertimer{background-color: #85d5df;}.pagination > .secili {color:
#FFFFFF;float: left;margin: -1px;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background-color: #212121;padding: 10px
16px;font-size: 18px;line-height:1.3333333;text-decoration: none;position: inherit;border: 1px solid
#212121;}.pagination > .normal {color:#333;float: left;margin: -1px;float: left;padding: 10px 16px;font-size:
18px;line-height: 1.3333333;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}.pagination >
.normal:hover {background-color: #eee;border-color: #ddd;}html .btn-primary:hover,html .btn-primary,.btn-primary:active,
.btn-primary:focus, .btn-primary:active:focus,#manset .owl-dots .active,.panel-default>.panel-heading,.panel-group
.panel-heading a,html .scroll-to-top,.btn-borders.btn-primary:hover, .btn-borders.btn-primary:focus,.owl-theme .owl-nav
[class*=owl-] {border-color: #212121;background-color: #212121;color:#FFFFFF;}.renklifont, .social-theme1 .social-icons
li .fa {color: #212121;}.renkliarkaplan {background-color: #212121;}
.menuarkaplanrengi {background-color: #85d5df;}
.menutur_custom .dropdown-menu{background:#85d5df;}
.menutur_custom .dropdown-menu a{color:#FFFFFF;}
.menutur_custom .dropdown-menu a:hover{color:#85d5df;background:#FFFFFF;}
.mobile-show{visibility: hidden !important;display: none !important;}@media screen and (max-width: 980px) {.mobile-hide
{visibility: hidden!important;display: none !important;}.mobile-show {visibility: visible !important;display: inline
!important;}}.clearfix{padding-bottom:20px;}.button_all{margin-top: 8px;}.guvenlik{margin-bottom: 5px;}.FormAlani >
label{margin-top: 8px;margin-bottom: -5px;}.owl-item .img-thumbnail{width: 100% !important;margin:0 auto
!important;}.mfp-counter{display:none;}.margin-bottom{margin-bottom:20px;}.product-thumb-info img {width: 100%
!important;}html .boxed .header-semi-transparent .header-body,html.boxed .header-transparent .header-body {background:
transparent !important;}html.boxed .header-semi-transparent,html.boxed .header-transparent {width: auto
!important;}html.side-header #header .header-top .container {width: 255px;}.pagination a :first-child {margin-left:
0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}.pagination {float: right;}
.mainfont{font-family:"Caveat Brush";}.secondfont{font-family:"Coiny";}